/* FIRST LEVEL */
/* Menu */
.row.full-width.header { background-color: #666666; }
.row.full-width.header { max-width: 100% !important; /*height: 60px;*/ }
.row.full-width.header { color: #fff; margin: 0; }
ul.menu { list-style-position: outsider; }
.main-menu-block { clear: both; width: auto; display: inline-block; }
.main-menu-block ul { padding: 0; margin: 0; list-style: none; }
.main-menu-block > .menu { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; position: relative; }
.main-menu-block ul.menu > li { margin: 0; padding: 0; display: inline-block; position: relative; z-index: 100; }
.main-menu-block ul.menu li a { color: #FFFFFF; display: block; font-size: 1em; height: 100%; padding: 0 .80em; text-transform: uppercase; line-height: 110px; }
.main-menu-block ul.menu > li:hover > a, .main-menu-block ul.menu > li > a:active, .main-menu-block ul.menu > li > a:focus { background-color: #939393; }

/* SECOND LEVEL */
.main-menu-block ul li ul { left: 0; opacity: 0; position: absolute; top: 100%; visibility: hidden; z-index: 101; box-shadow: 0 0 5px rgba(0, 0, 0, 0.35); background-color: #fff; }
.main-menu-block ul li a:hover + ul, .main-menu-block ul li a:focus + ul { opacity: 1; visibility: visible; }
.main-menu-block ul li ul li { font-size: 1rem !important; line-height: 1.25em;  text-align: left; width: 350px; }
.main-menu-block ul.menu li ul.menu li a { color: #333 !important; line-height: initial; padding: 0 10px; }
.main-menu-block ul li ul li:hover a { color: #06c !important; background-color: #FFFFFF !important; text-decoration: none !important; }
.menu-block-wrapper li.force-show ul, .menu-block-wrapper li:hover ul, .menu-block-wrapper li a:focus + ul { opacity: 1; visibility: visible; }


/* SIDEBAR MENU */
.side-sub-menu ul.menu { margin:0; }
.side-sub-menu ul.menu li { list-style: none; margin:0; padding:0; }
.side-sub-menu ul.menu li a { font-family: 'Archivo Narrow', sans-serif; color: #6699cc; }
.side-sub-menu ul.menu li a.active { color: #333; font-weight: bold; }
.side-sub-menu ul.menu li a:hover { text-decoration:underline; }
.side-sub-menu ul.menu {  list-style-type:none; }
.side-sub-menu ul.menu li { display:block; list-style-type:none; margin-left:.5rem; margin: 0; padding: 0 0 0 20px; background: transparent url("/sites/default/files/read-more.png") left 12px no-repeat; }
/*.side-sub-menu ul.menu li a { text-indent:-.5rem; margin-left:-.5rem; }*/
.sidebar .side-sub-menu .content { padding: 0 20px 20px 20px; }

.menu-name-menu-home ul.menu li, .main-menu-block ul.menu li {}

@media (max-width:62rem) and (min-height:40rem) {
    .main-menu-block ul.menu > li > a { font-size: .625em; padding: 0 .50em; line-height: 60px; }
}

