html, body { overflow: overflow-y: scroll; overflow-x: hidden; }
body { /*background-color: #CCCCCC;*/ background-color: #FFFFFF; font-size: 13px; text-shadow: 1px 1px 1px rgba(0,0,0,0.004); text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; }
main { background-color: #FFFFFF; padding: 20px 50px; margin: 20px 0 50px 0; }
.row.full-width.header { max-width: 100% !important; height:131px; margin: 0 0 5px 0 !important; background: #3a76b5 url('../images/header-bg.jpg') center top no-repeat; }
.row.full-width-slider { max-width: 100% !important; max-height: 390px; padding: 0; position: relative; background-color: #389367; }
.row.full-width.banner { max-width: 100% !important; }
.row.full-width.main { max-width: 100% !important; margin: 30px 0; }
.not-front .row.full-width.main { position: relative; }
.row.full-width.footer { background: #3a76b5; max-width: 100% !important; }
.row.full-width .row { margin: 0 auto; max-width: 62.5rem;/*  background: inherit;*/ }

/* Header */
.top-header-links { font-family: 'Archivo Narrow', sans-serif; font-weight: 700; color: #515151; float: right; }
.top-header-links a { font-family: 'Archivo Narrow', sans-serif; font-weight: 700; color: #515151; }
.top-header-links a:hover { color: #515151; text-decoration: underline; }
.left-banner-block { margin: 10px 0; }
.right-banner-block { margin: 15px 0; }
.center-head-block { margin: 10px 0 5px 0; text-align:center; }
.center-head-block img { padding: 10px; }
.navigation-block { margin: 5px 0 0 0; }

/* Search */
#search-block-form input[type="text"].headsearch { width: 70% !important; float: left; border-radius: 5px 0px 0px 5px; -moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; border: 1px solid #86a0b2; border-right: 0; }
#search-block-form button.headsearch-btn { width: 30% !important; float: right; height: 2.5125em; padding: 0.3em; background-color: #515151; color: #FFF; font-family: 'Archivo Narrow', sans-serif; font-size: .8em; font-weight: 700; border-radius: 0px 5px 5px 0px; -moz-border-radius: 0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px; border: 1px solid #6a6a6a; border-left: 0; }

/* boxes */
.sidebar .block, .main-content { width:100%; background: #fafafa none repeat scroll 0 0; border: 1px solid #ebebeb; margin: 0 0 20px 0; -webkit-box-shadow: 0px 10px 10px -10px #4E4E4E; -moz-box-shadow: 0px 10px 10px -10px #4E4E4E; box-shadow: 0px 10px 10px -10px #4E4E4E; }
.sidebar .block .block-headline, .front .main-content .block .block-headline { padding: 0 20px; }
.front .main-content .block .block-headline { padding: 0 20px; background: #3a76b5 url('../images/title-bg.jpg') right top no-repeat; }
.sidebar .block .content { padding: 10px;}
.front .main-content .block .content { padding: 20px 20px 20px 20px;}

.not-front main .main-content-wrapper { margin-bottom: 30px; }
.not-front main .main-content .page-title-wrapper { padding: 0 20px; margin: 0 0 20px 0; background: #3a76b5 url('../images/title-bg.jpg') right top no-repeat; color:#FFFFFF; height:65px; }
.not-front main .main-content .block { padding: 0 20px 20px 20px; }
.not-front main .main-content .button-group { padding: 20px 0 0 20px; }
.sidebar .block-headline { padding: 0 20px; margin: 0; background: #40B080 url('../images/sidebar-title-bg.jpg') right top no-repeat; color:#FFFFFF; height:65px; }

.block-headline { background: #3a76b5 url('../images/title-bg.png') left top no-repeat; color:#FFFFFF; height:65px; }
h4.block-title, h1.title { padding: 0; margin:0; font-size:1.6em; color:#FFFFFF; }
.not-front .main-content .block .block-headline { background: none; height: auto; }
.not-front .main-content .block h4.block-title { padding: 0 0 20px 0; margin:0; line-height: normal !important; font-size:1.6em; color: #222; }



/* Table formats */
/* Generic Styling, for Desktops/Laptops */
table.data { width: 100%; border-collapse: collapse; }
/* Zebra striping */
table.data tr:nth-of-type(3n){ background: #eee; }
table.data th { background: #333; color: white; font-weight: bold; }
table.data td, table.data th { padding: 6px; border: 1px solid #eee; text-align: left; }
.title { font-weight:bold;}
.award-type, .pi-name, .institution, .title { text-transform:capitalize; }
td.award-type, td.pi-name, td.institution, .title { text-transform:capitalize; }
.view-grants-awarded table tr td { padding: 0.5625em 0.3em;}

.abstract { display:none; }
.show, .showall {color: #0479B2;}
.show:hover, .showall:hover {cursor:pointer; }


.node-awarded-grants { border: 1px solid #c2c2c2; border-spacing: 0; display: table; width: 100%; }
.node-awarded-grants .field { display: table-row; width: auto; }
.node-awarded-grants .field-label, .node-awarded-grants .field-items { border-top: 1px solid #c2c2c2; display: table-column; float: left; padding: 2%; }
.node-awarded-grants .field-label { background-color: #eee; width: 30%; }
.node-awarded-grants .field-items { color: #48606c; width: 70%; } 
.node-awarded-grants .field-label-hidden .field-items { width:100%}
.node-awarded-grants .field-name-body { display:table-cell; padding:10px; }
.node-awarded-grants .field-name-body { font-family: inherit; font-size: 1em; font-weight: normal; line-height: 1.6; margin-bottom: 1.25em; text-rendering: optimizelegibility; }

/* Footer */
footer { color: #fff; font-size: 12px; line-height: 2em; text-align: center; bottom: 0; padding: 10px 0 20px 0; position: relative; max-width: 100% !important; width: 100% !important; }
footer ul.menu { display: inline-block; text-align: center; }
footer ul.menu li { /*float: left; or display: inline; */ display: inline-block; }
footer ul.menu > li > a { font-family: 'Archivo Narrow', sans-serif; font-weight: 700; color: #FFFFFF; text-transform: uppercase; padding: 0.7rem .5em; }
footer ul.menu > li > a:hover { text-decoration: underline; }


/* Text */
h1, h2, h3, h4, h5 { font-family: 'Archivo Narrow', sans-serif; color:inherit; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; color: #40B080; }
h3 { font-size: 1.4em; color: #3a76b5; }
h4 { font-size: 1.2em; color: #40B080; }
h5 { font-size: 1.0em; }
.main-content .block-system-main h1, .main-content .block-system-main h2, .main-content .block-system-main h3, .main-content .block-system-main h4, .main-content .block-system-main h5 { border-bottom: 1px solid #ebebeb; display: inline-block; width:100%; }
.logo { padding: 5px; }
/*ul, ol { margin-left: 1em; }*/
ul, ol, dl { list-style-position: outside; margin-left:2em; }
.body ul li { list-style-type: none; margin:0; padding: 0 0 0 10px; background: transparent url('../images/blue-bullet.jpg') left 8px no-repeat; }
.middle{ display: table-cell; vertical-align: middle; height: 65px; }
.date-display-single { font-size: .9em; color: #5C5C61; }

/* Links */
a, a .h4 { color: #3a76b5; text-decoration: none; }
a:hover { color: #40B080; text-decoration: underline; }
.breadcrumbs > * a, .breadcrumbs > * span {  color: #3a76b5; text-transform: uppercase; }

/* Colors */
.fundingBlue { background-color: #e5e8ec; padding: 5px; }

/* Icons */
/* all A tags whose HREF attribute ends in .pdf */
.main-content a[href$='.pdf'] { padding-right: 16px; background: transparent url('../images/icons/icon_pdf.gif') no-repeat center right; }

/* mobile nav */
.navbar-toggle { background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; float: right; margin-bottom: 8px; margin-top: 8px; padding: 9px 10px; position: relative; width:auto; height:auto; }
.sr-only { border: 0 none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.navbar-toggle { border-color: #ddd; }
button.navbar-toggle { background-color: #ffffff; }
.navbar-toggle .icon-bar { background-color: #888; }
.icon-bar + .icon-bar { margin-top: 4px; }
.navbar-toggle .icon-bar { border-radius: 1px; display: block; height: 2px; width: 22px; }


/*drupal */
.alert-box.success { background-color: #1c5e86; border-color: #ccc; color: #fff; padding: 20px; }

/* FORMS */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select, button { background-color: #fff; border: 1px solid #cccccc;  border-radius: 0; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset; box-sizing: border-box; color: rgba(0, 0, 0, 0.75); display: block; font-family: inherit; font-size: 0.875em; height: 2.3125em; margin: 0 0 1em; padding: 0.5em; transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s; width: 100%; }
.views-exposed-form .views-exposed-widget .form-submit { margin-top: 1.2em; }
button:hover, button:focus, .button:hover, .button:focus { background-color: #515151; }

/* BANNER */
.minibanner-white { background: #fff; }
.navbar { border:none !important;}
.minibarslogan { background-color:#1c5e86; }
.slogan-banner-block { height: 50px; }
.slogan-banner-block p {font-family: 'Montserrat', sans-serif; line-height:50px; font-weight:bold; font-size:1.4em; color:#FFFFFF;}
