/* FIRST LEVEL */
/* Menu */
ul.menu { margin-left: 0; }
ul.menu { list-style-position: outsider; }
.main-menu-block { clear: both; width: 100%; margin-bottom: 10px; text-align: center; -moz-border-image: url("../images/bar.png") 1 0 1 0; -webkit-border-image: url("../images/bar.png") 1 0 1 0; -o-border-image: url("../images/bar.png") 1 0 1 0; border-image: url("../images/bar.png") 1 0 1 0; border-style: solid; border-width: 1px; border-color: transparent; }
.main-menu-block ul { height: 30px; line-height: 30px; margin: 0; list-style: none; }
.main-menu-block ul.menu li { margin: 0; padding: 0 15px; display: inline-block; position: relative; z-index: 100; }
.main-menu-block ul.menu > li > a { font-family: 'Archivo Narrow', sans-serif; font-weight: 700; color: #FFFFFF; font-size:1.2em; text-transform:uppercase; }
.main-menu-block ul.menu > li:hover > a { color: #3a76b5; }
.main-menu-block ul.menu > li:hover { background: #3a76b5 url('../images/menu-hover-bg.jpg') left top repeat-x; color: #3a76b6; }

/* SECOND LEVEL */
.main-menu-block ul li ul { width: 690px; left: 0; margin: 0 -1000em; opacity: 0; padding: 0 1000em; position: absolute; top: 100%; visibility: hidden; z-index: 101; }
.main-menu-block ul li:hover ul { opacity: 1; visibility: visible; }
.main-menu-block ul li ul li { padding: 3px 0; text-align: left; min-width: 350px; background: #FFFFFF none repeat scroll 0 0; }
.main-menu-block ul li ul li:hover {  background: #FFFFFF url("../images/menu-arrow.jpg") no-repeat scroll 5px !important; }
.main-menu-block ul li ul li a { color: #389367 !important; font-size: 1em !important; font-weight: normal !important; padding: 0 15px 0 0 !important }
.main-menu-block ul li ul li a { color: #389367; }
.main-menu-block ul li ul li a.active { color: #333 !important; }



/* SIDEBAR MENU */
.side-sub-menu ul.menu li { list-style: none; margin:0; padding:0; }
.side-sub-menu ul.menu li a { font-family: 'Archivo Narrow', sans-serif; color: #389367; text-transform:uppercase; font-size: .9em; }
.side-sub-menu ul.menu li a.active { color: #333; font-weight: bold; }
.side-sub-menu ul.menu li.expanded ul.menu { background-color: #FFFFFF; }
.side-sub-menu ul.menu {  list-style-type:none; }
.side-sub-menu ul.menu li { display:block; list-style-type:none; margin-left:.5rem; }
.side-sub-menu ul.menu li a { text-indent:-.5rem; margin-left:-.5rem; }



.sidebar .side-sub-menu .content { padding: 20px; }